@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

:root {
  --background: linear-gradient(
    220deg,
    rgba(189, 0, 255, 1) 0%,
    rgba(0, 163, 255, 1) 100%
  );
  --heading: #fff;
  --text: #847d93;
  --patch-color: #2d7dff;
  --nav-color: #2c2931;
  --section-color: #221f26;
}

*,
*::before,
*::after,
h1,
h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin-top: 3rem;
  width: 100%;
}

ul li a {
  width: 100%;
  text-decoration: none;
  color: var(--heading);
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.2rem 0 0.2rem 2rem;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
  background-color: var(--patch-color);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background: var(--background);
  background-attachment: fixed;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6rem 0 0 0;
  background-color: var(--nav-color);
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: width 0.3s ease, transform 0.3s ease;
}

nav img {
  margin-left: 1.8rem;
  width: 18px;
  transform: scaleX(-1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.active {
  background-color: var(--patch-color);
}

.active:hover {
  background-color: var(--patch-color) / 0.8;
}

nav img:hover {
  transform: scaleX(-1) translateX(5px);
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 0.8125rem;
  background-color: var(--section-color);
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
}

.logo {
  flex: 1;
  text-align: center;
}

.menu {
  width: 20px;
}
.logo h1 {
  color: var(--patch-color);
}

.texts {
  min-height: 100vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texts h2 {
  color: var(--heading);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.2;
}

.texts p {
  font-size: 1.7rem;
  color: var(--text);
  line-height: 1.2;
  padding-bottom: 1rem;
}

button {
  max-width: 190px;
  width: 100%;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 12px 12px;
  background-color: transparent;
  color: var(--heading);
  font-weight: 800;
  margin: 1rem 0;
  outline: none;
  border: 1px solid var(--text);
}

button:hover {
  background-color: var(--nav-color);
  border: 1px solid var(--heading);
  box-shadow: 0 0 90px 0 var(--nav-color);
}
button img {
  width: 18px;
  transition: transform 0.3s ease;
}

button:hover img {
  transform: translateX(5px);
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .content {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
  }

  header {
    padding: 0;
  }
  .menu img,
  nav img {
    display: none;
  }

  .texts {
    min-height: unset;
    padding: 0;
  }

  nav {
    position: unset;
    transform: translateX(0) !important;
    border-radius: unset;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    width: 300px;
  }
}
