:root{
   --li-bl-clr: #2E7AD3; 
   --dk-bl-clr: #104C90;
   --og-clr: #FF8000;
   --grey-clr: #F1F1F1   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

h1, h2{
    padding: 0;
    margin: 0; 
}
h1{
    font-size: 48px;
    margin: 45px 0; 
    color: var(--li-bl-clr); 
}

h2{
    font-size: 32px;
    color: var(--dk-bl-clr); 
    margin-bottom: 9px; 
}

p{
    font-size: 16px; 
}

p:first-of-type{
    margin: 25px 0 0 0;  
}

p:last-of-type{
    margin: 9px 0;  
}

img{
    display: block;
    max-width: 100%; 
}


.container{
    max-width: 500px;
    background: var(--grey-clr); 
    padding: 25px; 
    margin-bottom: 1rem; 
    cursor: pointer;   
}

.container:hover{   
    box-shadow: 2px 3px 30px 9px rgba(0, 0, 0, 0.2);      
}
a{   
    color: var(--og-clr); 
}

a:hover, a:focus{
    color: var(--dk-bl-clr);  
} 

