@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --font-color: #000;
  --hcolor: #fff;
  --border-color: #c7c7c7;
  --input-bgcolor: #ededed;
  --btn-bgcolor: #5200ff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  background-color: var(--btn-bgcolor);
  padding: 2rem 1rem;
  color: var(--hcolor);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2rem;
}

section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: 100%;
  opacity: 0.22;
}

.header {
  position: relative;
}

.header,
.content {
  padding: 2.75rem 8vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;
}

form div label {
  display: block;
  margin-bottom: 0.5rem;
}

form div {
  width: 100%;
}
form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--input-bgcolor);
}

form input:focus {
  background-color:var(--hcolor) ;
  border: 2px inset var(--border-color);
}

button {
  margin-top: 0.9rem;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background-color: var(--btn-bgcolor);
  color: var(--hcolor);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #4100b8;
  color: var(--hcolor);
  transform: translateY(-2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Button press effect */
button:active {
  transform: translateY(0); 
  box-shadow: none; 
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  p {
    font-size: 1.6rem;
    padding-bottom: 3rem;
  }

  .content {
    padding: 5rem 8vw;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  form div {
    width: calc(50% - 1rem); /* Subtract the gap size */
  }

  form input {
    padding: 1.5rem;
  }
  button {
    margin-top: 1.8rem;
    padding: 1.5rem;
    width: 11.6875rem;
  }
}

@media screen and (min-width: 1280px) {
  main {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  section,
  .content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  section {
    text-align: right;
  }

  h1 {
    font-size: 3.93rem;
  }

  form {
    width: 100%;
    flex-direction: column;
  }

  form div {
    width: 100%;
    flex-shrink: 0;
  }
}
